@media (max-width: 767px){
    .is-hidden-md{
        display: none;
    }
    .nav-burger,.nav-burger-col {
        display: flex;
    }
    .nav-style-md nav{
        padding: 1em 0;
    }
    .nv{
        margin-top: 0.5em;
    }    
    .nav-menu li{
        width: 100%;
    }
    .mt-md{margin-top: 1em;}
    .grid-article{
        .row{flex-direction: row-reverse;}
    }
}

@media (max-width: 575px){
    .align-start-sm{align-items: flex-start !important;}
    .text-center-xs{text-align: center;}
    .mt-sm{margin-top: 1em;}
    .grid-article { 
        .row {flex-direction: column-reverse;} 
        .row .col-xs-12:nth-child(2){padding-bottom:1em;}
    }
}