// Root Variables
$color_primary: #FFBA08; 
$color_primary_lighter: lighten($color_primary, 20%);
$color_primary_darker: darken($color_primary, 20%);
$color_primary_text: #000;
  
$color_secondary: #D00000;
$color_secondary_lighter: lighten($color_primary, 20%);
$color_secondary_darker: darken($color_primary, 20%);
$color_secondary_text: #fff;
    
$color_bg: #fff;
$color_text: rgb(22, 22, 22);
$color_link: #31314f;
$color_border: #e4e4e4;
$input_border: #a9adb0;

$font_main: 'Epilogue', sans-serif;
$font_body: 'Epilogue', sans-serif;