openapi: 3.0.3
info:
  title: Omise API
  version: 1.0.0
  description: OpenAPI definition for managing customer cards in the Omise API.

servers:
  - url: https://api.omise.co

tags:
  - name: Card API
    description: Operations related to customer cards (list, retrieve, update, delete)

paths:
  /customers/{customer_id}/cards:
    get:
      tags:
        - Card API
      summary: List cards for a customer
      security:
        - basicAuth: []
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A list of cards
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Card'
        '401':
          description: Unauthorized
        '404':
          description: Customer not found

  /customers/{customer_id}/cards/{card_id}:
    get:
      tags:
        - Card API
      summary: Retrieve a specific card of a customer
      security:
        - basicAuth: []
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
        - name: card_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Card retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '401':
          description: Unauthorized
        '404':
          description: Card or customer not found

    patch:
      tags:
        - Card API
      summary: Update a specific card of a customer
      security:
        - basicAuth: []
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
        - name: card_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                expiration_month:
                  type: integer
                  example: 12
                expiration_year:
                  type: integer
                  example: 2022
                name:
                  type: string
                  example: Somchai Prasert
                postal_code:
                  type: string
                  example: "10310"
      responses:
        '200':
          description: Card updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '400':
          description: Invalid input
        '401':
          description: Unauthorized
        '404':
          description: Card or customer not found

    delete:
      tags:
        - Card API
      summary: Delete a card from a customer
      security:
        - basicAuth: []
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
        - name: card_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Card deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: Card or customer not found

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic

  schemas:
    Card:
      type: object
      properties:
        id:
          type: string
          example: card_test_5g021zls9ei5suyryss
        object:
          type: string
          example: card
        brand:
          type: string
          example: Visa
        name:
          type: string
          example: Somchai Prasert
        expiration_month:
          type: integer
          example: 12
        expiration_year:
          type: integer
          example: 2022
        last_digits:
          type: string
          example: "4242"
        postal_code:
          type: string
          example: "10310"
