{% comment %}
*
*   First the include captures the url and image in a
*   separate variable to make the code better readable.
*
*   These variables are widget_url and widget_image
*
{% endcomment %}



<div class=" frontpage-widget">
    {% if include.widget.image %}
        <img src="{{ include.widget.image }}" style="width: 100%;" alt="Widget Image" />
    {% endif %}

    <h2 class="font-size-h3 t10">{{ include.widget.title }}</h2>

    {% if include.widget.text %}
        <p>{{ include.widget.text }}</p>
    {% endif %}

    {% if include.widget.url %}
        <p><a class="button tiny radius" href="{{ include.widget.url }}">{{ site.data.language.more | default: "Learn More" }}</a></p>
    {% endif %}
</div>
