<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Moeen is a senior developer working in diverse domains for past 4 years. He have worked on FinTech and MedCare domain using modern technologies i.e Angular 13, Dot Net Core, Node Js and ReactJs . For co-operate clients he can work on Office-365 add-ins as well.</p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div>
    </div>
  </div>
</section>
