
<div class="nectar-global-section before-footer">
    <div class="container normal-container row">
      <div
        id="fws_6606f9458d58b"
        data-column-margin="default"
        data-midnight="dark"
        data-top-percent="10%"
        data-bottom-percent="10%"
        class="wpb_row vc_row-fluid vc_row full-width-content vc_row-o-equal-height vc_row-flex vc_row-o-content-top right_padding_6vw left_padding_6vw top_padding_tablet_20pct bottom_padding_tablet_10pct"
        style="
          padding-top: calc(100vw * 0.1);
          padding-bottom: calc(100vw * 0.1);
        "
      >
        <div
          class="row-bg-wrap"
          data-bg-animation="none"
          data-bg-animation-delay=""
          data-bg-overlay="false"
        >
          <div class="inner-wrap row-bg-layer">
            <div
              class="row-bg viewport-desktop using-bg-color"
              style="background-color: #f0f2f6"
            ></div>
          </div>
        </div>
        <div class="row_col_wrap_12 col span_12 dark left">
          <div
            class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding el_spacing_0px inherit_tablet inherit_phone"
            data-padding-pos="all"
            data-has-bg-color="false"
            data-bg-color=""
            data-bg-opacity="1"
            data-animation=""
            data-delay="0"
          >
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div
                  id="fws_6606f9458d6ff"
                  data-midnight=""
                  data-column-margin="default"
                  class="wpb_row vc_row-fluid vc_row inner_row vc_row-o-equal-height vc_row-flex vc_row-o-content-middle"
                  style="padding-bottom: 5%"
                >
                  <div class="row-bg-wrap">
                    <div class="row-bg"></div>
                  </div>
                  <div class="row_col_wrap_12_inner col span_12 left">
                    <div
                      class="vc_col-sm-8 vc_col-lg-8 vc_col-md-6 wpb_column column_container vc_column_container col child_column bottom_margin_phone_30px right_padding_desktop_25pct"
                      data-t-w-inherits="small_desktop"
                      data-padding-pos="all"
                      data-has-bg-color="false"
                      data-bg-color=""
                      data-bg-opacity="1"
                      data-animation=""
                      data-delay="0"
                    >
                      <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                          <div
                            class="nectar-split-heading font_size_4vw"
                            data-align="default"
                            data-m-align="inherit"
                            data-text-effect="default"
                            data-animation-type="line-reveal-by-space"
                            data-animation-delay="0"
                            data-animation-offset=""
                            data-m-rm-animation=""
                            data-stagger="true"
                            data-custom-font-size="true"
                            style="font-size: 4vw; line-height: 4.4vw"
                          >
                            <h2>
                              The Resource for All Things Bitcoin Mining
                            </h2>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="vc_col-sm-2 vc_col-lg-2 vc_col-md-3 wpb_column column_container vc_column_container col child_column has-animation no-extra-padding el_spacing_10px bottom_margin_tablet_0px inherit_tablet inherit_phone"
                      data-t-w-inherits="small_desktop"
                      data-padding-pos="all"
                      data-has-bg-color="false"
                      data-bg-color=""
                      data-bg-opacity="1"
                      data-animation="fade-in-from-bottom"
                      data-delay="150"
                    >
                      <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                          <div
                            class="wpb_text_column wpb_content_element"
                          >
                            <div class="wpb_wrapper">
                              <h5>Get Started</h5>
                            </div>
                          </div>
                          <div
                            class="nectar-cta alignment_tablet_default alignment_phone_default display_tablet_inherit display_phone_inherit font_size_desktop_1-3vw font_size_tablet_16px"
                            data-color="default"
                            data-using-bg="false"
                            data-display="block"
                            data-style="underline"
                            data-alignment="left"
                            data-text-color="std"
                            style="margin-top: 10px"
                          >
                            <h4>
                              <span class="link_wrap"
                                ><a
                                  class="link_text"
                                  role="button"
                                  href="/getting-started/"
                                  >New to Mining?</a
                                ></span
                              >
                            </h4>
                          </div>
                          <div
                            class="nectar-cta alignment_tablet_default alignment_phone_default display_tablet_inherit display_phone_inherit font_size_desktop_1-3vw font_size_tablet_16px"
                            data-color="default"
                            data-using-bg="false"
                            data-display="block"
                            data-style="underline"
                            data-alignment="left"
                            data-text-color="std"
                            style="margin-top: 10px"
                          >
                            <h4>
                              <span class="link_wrap"
                                ><a
                                  class="link_text"
                                  role="button"
                                  href="/getting-started/"
                                  >Mining Hardware</a
                                ></span
                              >
                            </h4>
                          </div>
                          <div
                            class="nectar-cta alignment_tablet_default alignment_phone_default display_tablet_inherit display_phone_inherit font_size_desktop_1-3vw font_size_tablet_16px"
                            data-color="default"
                            data-using-bg="false"
                            data-display="block"
                            data-style="underline"
                            data-alignment="left"
                            data-text-color="std"
                            style="margin-top: 10px"
                          >
                            <h4>
                              <span class="link_wrap"
                                ><a
                                  class="link_text"
                                  role="button"
                                  href="/getting-started/"
                                  >Cloud Mining</a
                                ></span
                              >
                            </h4>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="vc_col-sm-2 vc_col-lg-2 vc_col-md-3 wpb_column column_container vc_column_container col child_column has-animation no-extra-padding el_spacing_10px inherit_tablet inherit_phone"
                      data-t-w-inherits="small_desktop"
                      data-padding-pos="all"
                      data-has-bg-color="false"
                      data-bg-color=""
                      data-bg-opacity="1"
                      data-animation="fade-in-from-bottom"
                      data-delay="300"
                    >
                      <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                          <div
                            class="wpb_text_column wpb_content_element"
                          >
                            <div class="wpb_wrapper">
                              <h5>About Us</h5>
                            </div>
                          </div>
                          <div
                            class="nectar-cta alignment_tablet_default alignment_phone_default display_tablet_inherit display_phone_inherit font_size_desktop_1-3vw font_size_tablet_16px"
                            data-color="default"
                            data-using-bg="false"
                            data-display="block"
                            data-style="underline"
                            data-alignment="left"
                            data-text-color="std"
                          >
                            <h4>
                              <span class="link_wrap"
                                ><a
                                  class="link_text"
                                  role="button"
                                  href="/about-us"
                                  >About Us</a
                                ></span
                              >
                            </h4>
                          </div>
                          <div
                            class="nectar-cta alignment_tablet_default alignment_phone_default display_tablet_inherit display_phone_inherit font_size_desktop_1-3vw font_size_tablet_16px"
                            data-color="default"
                            data-using-bg="false"
                            data-display="block"
                            data-style="underline"
                            data-alignment="left"
                            data-text-color="std"
                          >
                            <h4>
                              <span class="link_wrap"
                                ><a
                                  class="link_text"
                                  role="button"
                                  href="/faq/"
                                  >FAQ</a
                                ></span
                              >
                            </h4>
                          </div>
                          <div
                            class="nectar-cta alignment_tablet_default alignment_phone_default display_tablet_inherit display_phone_inherit font_size_desktop_1-3vw font_size_tablet_16px"
                            data-color="default"
                            data-using-bg="false"
                            data-display="block"
                            data-style="underline"
                            data-alignment="left"
                            data-text-color="std"
                            style="margin-top: 10px"
                          >
                            <h4>
                              <span class="link_wrap"
                                ><a
                                  class="link_text"
                                  role="button"
                                  href="https://www.bitcoinmining.com/advertise/"
                                  >Advertise</a
                                ></span
                              >
                            </h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  id="fws_6606f9458dd16"
                  data-midnight=""
                  data-column-margin="default"
                  class="wpb_row vc_row-fluid vc_row inner_row vc_row-o-equal-height vc_row-flex vc_row-o-content-top"
                  style=""
                >
                  <div class="row-bg-wrap">
                    <div class="row-bg"></div>
                  </div>
                  <div class="row_col_wrap_12_inner col span_12 left">
                    <div
                      class="vc_col-sm-8 wpb_column column_container vc_column_container col child_column has-animation no-extra-padding bottom_margin_phone_30px inherit_tablet inherit_phone"
                      data-t-w-inherits="small_desktop"
                      data-padding-pos="all"
                      data-has-bg-color="false"
                      data-bg-color=""
                      data-bg-opacity="1"
                      data-animation="fade-in-from-bottom"
                      data-delay="0"
                    >
                      <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                          <div
                            class="nectar-cta alignment_tablet_default alignment_phone_default display_tablet_inherit display_phone_inherit font_size_desktop_1-1vw font_size_tablet_16px"
                            data-color="accent-color"
                            data-using-bg="true"
                            data-style="basic"
                            data-display="block"
                            data-alignment="left"
                            data-text-color="custom"
                          >
                            <h6 style="color: #ffffff">
                              <span
                                class="link_wrap"
                                style="
                                  padding-top: 1em;
                                  padding-right: 2em;
                                  padding-bottom: 1em;
                                  padding-left: 2em;
                                "
                                ><a
                                  class="link_text"
                                  role="button"
                                  href="/contact/"
                                  ><span class="text"
                                    >Reach out to our team with bigger
                                    needs.</span
                                  ></a
                                ></span
                              >
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="vc_col-sm-4 wpb_column column_container vc_column_container col child_column has-animation no-extra-padding inherit_tablet inherit_phone mobile-disable-entrance-animation"
                      data-t-w-inherits="small_desktop"
                      data-padding-pos="all"
                      data-has-bg-color="false"
                      data-bg-color=""
                      data-bg-opacity="1"
                      data-animation="fade-in-from-bottom"
                      data-delay="150"
                      data-animation-offset="110%"
                    >
                      <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                          <div
                            class="nectar-responsive-text nectar-link-underline-effect"
                          >
                            <p>
                              © 
                              <span class="nectar-current-year"
                                >2024</span
                              >. Bitcoinmining.com All Rights
                              Reserved.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>