<div class="footer px-12 lg:px-24 pt-16">
  <div
    class="items-center md:w-1/5 w-2/4 lg:w-1/5 xl:w-1/5"
  >
  
  <a href="/">
    <img class="w-[200.4px] lg:w-[302px] h[53.48px] lg:h-[81px]" src="/assets/footer-logo.png">
  </a>
  </div>
  <div class="pt-10 lg:grid lg:grid-cols-2">
    <div class="flex flex-col lg:flex-row">
      {% for nav in site.data.main.nav %}
      <a href="{{nav.link}}" class="pr-6 py-3 lg:py-8 nav-item">{{nav.name}}</a>
      {% endfor %}
    </div>
    <div class="flex py-7 justify-self-end space-x-3">
      <a
        href="{{site.data.main.social.twitter}}"
        class="border border-current w-[40px] h-[40px] flex items-center justify-center rounded-lg"
      >
      <imag src="/assets/twitter-black.png">
      </a>
      <a
        href="{{site.data.main.social.github}}"
        class="border border-current w-[40px] h-[40px] flex items-center justify-center rounded-lg"
      >
      <imag src="/assets/github-black.png">
      </a>
      <a
        href="{{site.data.main.social.linkedIn}}"
        class="border border-current w-[40px] h-[40px] flex items-center justify-center rounded-lg"
      >
      <imag src="/assets/linkedin-black.png">
      </a>
    </div>
  </div>

  <hr />
  <div class="ending-content py-8">
    <p class="font-[Inter] text-[16px]">© Viktor Petersson</p>
  </div>
</div>
