<div class="main">
  <nav
    class="overflow-x-hidden pb-[20.26px] sm:pb-[31px] pt-[21px] sm:pt-[34px]"
  >
    <div class="mx-auto max-w-9xl">
      <div
        class="relative flex items-center grid grid-cols-12 gap-x-4 md:gap-x-1 justify-between w-[342px] sm:w-full m-auto"
      >
        <div
          class="absolute inset-y-0 right-0 items-center sm:flex xs:flex flex md:hidden lg:hidden xl:hidden lg:mr-0 xl:mr-0 sm:mr-5"
        >
          <!-- Mobile menu button-->
          <button
            type="button"
            onclick="toggleSearch()"
            class="relative inline-flex items-center justify-center rounded-lg border-0 hover:text-white mr-[14px]"
          >
            <svg
              width="33"
              height="33"
              viewBox="0 0 33 33"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.0798 26.1556C20.9708 26.1556 25.7464 21.38 25.7464 15.4889C25.7464 9.59789 20.9708 4.82227 15.0798 4.82227C9.18871 4.82227 4.41309 9.59789 4.41309 15.4889C4.41309 21.38 9.18871 26.1556 15.0798 26.1556Z"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M28.413 28.8223L22.613 23.0223"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
          <button
            type="button"
            onclick="toggle()"
            class="relative inline-flex items-center justify-center rounded-lg border-0 hover:text-white"
          >
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!-- Icon when menu is closed. Menu open: "hidden", Menu closed: "block" -->
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4 16H28"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M4 8H28"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M4 24H28"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </div>
        <div
          class="flex lg:flex-1 md:flex-1 items-center justify-start xl:justify-center lg:justify-center sm:items-stretch sm:justify-start xl:col-span-7 col-span-8 md:col-span-8 sm:col-span-12"
        >
          <div
            class="flex flex-shrink-0 items-center sm:w-1/4 md:w-1/5 w-2/4 lg:w-1/5 xl:w-1/5 md:ml-8 lg:ml-8"
          >
            <a href="/">
              <img
                class="w-[100.2px] h-[26.74px] sm:w-[140px] sm:h-[38px]"
                src="/assets/logo.png"
              />
            </a>
          </div>
          <div
            class="sm:hidden xs:hidden hidden md:flex lg:flex xl:flex ml:0 lg:ml-10 w-4/5"
          >
            <div class="flex space-x-4 md:space-x-1 xl:space-x-5 font-bold">
              {% for nav in site.data.main.nav %}
              <a
                href="{{nav.link}}"
                class="nav-item text-white rounded-md md:ml-10 ml-0 px-3 md:px-1 py-2"
                >{{nav.name}}</a
              >
              {% endfor %}
            </div>
          </div>
        </div>
        <div
          class="hidden lg:block md:block xl:block inset-y-0 right-0 flex items-center sm:static sm:inset-auto sm:pr-0 xl:col-span-5 col-span-4 md:col-span-4"
        >
          <div class="grid grid-cols-12">
            <div
              class="flex flex-wrap col-span-8 xl:col-span-7 lg:col-span-7 md:col-span-5 border border-gray-500 rounded-lg"
            >
              <svg
                width="34px"
                height="38px"
                class="p-1 lg:block md:hidden"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                stroke-width="0.528"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <g clip-path="url(#clip0_15_152)">
                    <rect width="24" height="24"></rect>
                    <circle
                      cx="10.5"
                      cy="10.5"
                      r="6.5"
                      stroke="white"
                      stroke-linejoin="round"
                    ></circle>
                    <path
                      d="M19.6464 20.3536C19.8417 20.5488 20.1583 20.5488 20.3536 20.3536C20.5488 20.1583 20.5488 19.8417 20.3536 19.6464L19.6464 20.3536ZM20.3536 19.6464L15.3536 14.6464L14.6464 15.3536L19.6464 20.3536L20.3536 19.6464Z"
                      fill="white"
                    ></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_15_152">
                      <rect width="24" height="24" fill="#1e293b"></rect>
                    </clipPath>
                  </defs>
                </g>
              </svg>

              <input
                type="search"
                class="relative m-0 -mr-0.5 block min-w-0 lg:w-1/2 md:w-1/4 flex flex-auto w-auto bg-transparent bg-clip-padding px-3 py-[0.25rem] search text-neutral-700 outline-none ease-in-out focus:z-[3] focus:text-neutral-700 focus:outline-none dark:text-neutral-200 dark:placeholder:text-neutral-200"
                placeholder="Search"
                aria-label="Search"
                aria-describedby="button-addon1"
              />

              <!--Search button-->
            </div>
            <div
              class="col-span-4 xl:col-span-5 md:col-span-7 lg:col-span-5 xl:ml-4 lg:ml-3 md:ml-2 ml-0 flex"
            >
              <a
                href="{{site.data.main.social.twitter}}"
                class="border border-gray-500 flex w-[40px] h-[40px] flex items-center justify-center xl:mx-3 mx-2 md:mx-1 rounded-lg"
              >
                <imag src="/assets/twitter-white.png">
              </a>
              <a
                href="{{site.data.main.social.github}}"
                class="border border-gray-500 flex w-[40px] h-[40px] flex items-center justify-center rounded-lg"
              >
                <imag src="/assets/github-white.png"></imag>
              </a>
              <a
                href="{{site.data.main.social.linkedIn}}"
                class="border border-gray-500 flex w-[40px] h-[40px] flex items-center justify-center xl:mx-3 mx-2 md:mx-1 rounded-lg"
              >
                <imag src="/assets/linkedin-white.png">
              </a>
            </div>
          </div>
          <!-- ... Other menu items ... -->
        </div>
      </div>

      <!-- Mobile menu, show/hide based on menu state. -->
    </div>
  </nav>
</div>

<div
  class="hidden w-full h-full"
  id="mobile-menu"
  style="position: absolute; top: 0px; background: black"
>
  <div class="w-[342px] m-auto">
    <div class="pb-[24px]">
      <div
        class="h-[68px] flex items-center justify-end"
        style="border-bottom: 1px solid rgba(255, 255, 255, 0.1)"
      >
        <button
          type="button"
          onclick="toggle()"
          class="flex items-center justify-center rounded-lg border-0 hover:text-white"
        >
          <svg
            width="33"
            height="33"
            viewBox="0 0 33 33"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M24.1685 8.14526L8.16846 24.1453"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M8.16846 8.14526L24.1685 24.1453"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
      <!-- ... Mobile menu items ... -->

      <div class="mt-[24px]">
        <a href="/" class="text-white nav-item">HOME</a>
      </div>
      {% for nav in site.data.main.nav %}
      <div class="mt-[24px]">
        <a href="{{nav.link}}" class="text-white nav-item">{{nav.name}}</a>
      </div>
      {% endfor %}
    </div>
    <div
      class="col-span-4 xl:col-span-5 md:col-span-7 lg:col-span-5 flex mt-[24px]"
    >
      <a
        href="{{site.data.main.social.twitter}}"
        class="border border-gray-500 flex w-[40px] h-[40px] flex items-center justify-center mr-[13px] rounded-lg"
      >
      <imag src="/assets/twitter-white.png">
      </a>
      <a
        href="{{site.data.main.social.github}}"
        class="border border-gray-500 flex w-[40px] h-[40px] flex items-center mr-[13px] justify-center rounded-lg"
      >
      <imag src="/assets/github-white.png">
      </a>
      <a
        href="{{site.data.main.social.linkedIn}}"
        class="border border-gray-500 flex w-[40px] h-[40px] flex items-center justify-center mr-[13px] rounded-lg"
      >
      <imag src="/assets/linkedin-white.png">
      </a>
    </div>
  </div>
</div>

<div
  class="hidden w-full h-full"
  id="search-menu"
  style="position: absolute; top: 0px; background: white"
>
  <div class="w-[342px] m-auto">
    <div class="pb-[24px]">
      <div
        class="h-[68px] flex items-center justify-end"
        style="border-bottom: 1px solid rgba(0, 0, 0, 0.1)"
      >
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M14.6667 25.3333C20.5577 25.3333 25.3333 20.5577 25.3333 14.6667C25.3333 8.77563 20.5577 4 14.6667 4C8.77563 4 4 8.77563 4 14.6667C4 20.5577 8.77563 25.3333 14.6667 25.3333Z"
            stroke="black"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M28 28L22.2 22.2"
            stroke="black"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>

        <input
          class="w-[270px] bg-transparent bg-clip-padding px-3 search text-neutral-700 outline-none ease-in-out focus:z-[3] focus:text-neutral-700 focus:outline-none dark:text-neutral-200 dark:placeholder:text-neutral-200"
          placeholder="Search"
        />
        <button
          type="button"
          onclick="toggleSearch()"
          class="flex items-center justify-center rounded-lg border-0 hover:text-white"
        >
          <svg
            width="33"
            height="33"
            viewBox="0 0 33 33"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M24.1685 8.14551L8.16846 24.1455"
              stroke="black"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M8.16846 8.14551L24.1685 24.1455"
              stroke="black"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
      <!-- ... Mobile menu items ... -->
    </div>
  </div>
</div>
