
<div
id="header-outer"
data-has-menu="true"
data-has-buttons="no"
data-header-button_style="shadow_hover_scale"
data-using-pr-menu="true"
data-mobile-fixed="1"
data-ptnm="false"
data-lhe="animated_underline"
data-user-set-bg="#f8f8f8"
data-format="centered-menu"
data-permanent-transparent="false"
data-megamenu-rt="0"
data-remove-fixed="0"
data-header-resize="0"
data-cart="false"
data-transparency-option="1"
data-box-shadow="none"
data-shrink-num="6"
data-using-secondary="0"
data-using-logo="0"
data-logo-height="28"
data-m-logo-height="24"
data-padding="30"
data-full-width="true"
data-condense="false"
>
<div id="search-outer" class="nectar">
  <div id="search">
    <div class="container">
      <div id="search-box">
        <div class="inner-wrap">
          <div class="col span_12">
            <form
              role="search"
              action="https://bitcoinmining.mysites.io/"
              method="GET"
            >
              <input
                type="text"
                name="s"
                id="s"
                value=""
                aria-label="Search"
                placeholder="Type what you&#039;re looking for"
              />
            </form>
          </div>
          <!--/span_12-->
        </div>
        <!--/inner-wrap-->
      </div>
      <!--/search-box-->
      <div id="close">
        <a href="#"
          ><span class="screen-reader-text">Close Search</span>
          <span class="close-wrap">
            <span class="close-line close-line1"></span>
            <span class="close-line close-line2"></span>
          </span>
        </a>
      </div>
    </div>
    <!--/container-->
  </div>
  <!--/search-->
</div>
<!--/search-outer-->
<header id="top">
  <div class="container">
    <div class="row">
      <div class="col span_3">
        <a
          id="logo"
          href="./index.html"
          data-supplied-ml-starting-dark="false"
          data-supplied-ml-starting="false"
          data-supplied-ml="false"
          class="no-image"
        >
          BitcoinMining.com
        </a>
      </div>
      <!--/span_3-->
      <div class="col span_9 col_last">
        <div class="nectar-mobile-only mobile-header">
          <div class="inner">
            <ul id="menu-saas-pull-right" class="sf-menu">
              <li
                id="menu-item-94231"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-btn-style-button_accent-color menu-item-94231"
              >
                <a href="/newsletter/"
                  ><span class="menu-title-text"
                    >Join Our Newsletter</span
                  ></a
                >
              </li>
            </ul>
          </div>
        </div>
        <div
          class="slide-out-widget-area-toggle mobile-icon slide-out-from-right"
          data-custom-color="false"
          data-icon-animation="simple-transform"
        >
          <div>
            <a
              href="#sidewidgetarea"
              role="button"
              aria-label="Navigation Menu"
              aria-expanded="false"
              class="closed"
            >
              <span class="screen-reader-text">Menu</span
              ><span aria-hidden="true">
                <i class="lines-button x2"> <i class="lines"></i> </i>
              </span>
            </a>
          </div>
        </div>
        <nav>
          <ul class="sf-menu">
            <li
              id="menu-item-94534"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-94496 current_page_item nectar-regular-menu-item menu-item-94534"
            >
              <a href="/" aria-current="page"
                ><span class="menu-title-text">Home</span></a
              >
            </li>
            <li
              id="menu-item-94611"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children nectar-regular-menu-item sf-with-ul menu-item-94611"
            >
              <a href="/introduction"
                ><span class="menu-title-text">Introduction</span
                ><span class="sf-sub-indicator"
                  ><i
                    class="fa fa-angle-down icon-in-menu"
                    aria-hidden="true"
                  ></i></span
              ></a>
              <ul class="sub-menu">
                <li
                  id="menu-item-94612"
                  class="menu-item menu-item-type-post_type menu-item-object-page nectar-regular-menu-item menu-item-94612"
                >
                  <a
                    href="/introduction"
                    ><span class="menu-title-text"
                      >What is Bitcoin Mining?</span
                    ></a
                  >
                </li>
                <li
                  id="menu-item-94618"
                  class="menu-item menu-item-type-post_type menu-item-object-page nectar-regular-menu-item menu-item-94618"
                >
                  <a
                    href="/evolution-of-bitcoin-mining"
                    ><span class="menu-title-text"
                      >The Evolution of Bitcoin Mining</span
                    ></a
                  >
                </li>
              </ul>
            </li>
            <li
              id="menu-item-94531"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children nectar-regular-menu-item sf-with-ul menu-item-94531"
            >
              <a
                href="/get-started"
                ><span class="menu-title-text">Getting Started</span
                ><span class="sf-sub-indicator"
                  ><i
                    class="fa fa-angle-down icon-in-menu"
                    aria-hidden="true"
                  ></i></span
              ></a>
              <ul class="sub-menu">
                <li
                  id="menu-item-94420"
                  class="menu-item menu-item-type-post_type menu-item-object-page nectar-regular-menu-item menu-item-94420"
                >
                  <a
                    href="/bitcoin-mining-hardware"
                    ><span class="menu-title-text">Hardware</span></a
                  >
                </li>
                <li
                  id="menu-item-94408"
                  class="menu-item menu-item-type-post_type menu-item-object-page nectar-regular-menu-item menu-item-94408"
                >
                  <a
                    href="/bitcoin-cloud-hosting"
                    ><span class="menu-title-text">Hosting</span></a
                  >
                </li>
                <li
                  id="menu-item-94404"
                  class="menu-item menu-item-type-post_type menu-item-object-page nectar-regular-menu-item menu-item-94404"
                >
                  <a
                    href="/bitcoin-mining-pools"
                    ><span class="menu-title-text">Pools</span></a
                  >
                </li>
                <li
                  id="menu-item-94397"
                  class="menu-item menu-item-type-post_type menu-item-object-page nectar-regular-menu-item menu-item-94397"
                >
                  <a
                    href="/bitcoin-mining-software"
                    ><span class="menu-title-text">Software</span></a
                  >
                </li>
              </ul>
            </li>
            <li
              id="menu-item-94352"
              class="menu-item menu-item-type-post_type menu-item-object-page nectar-regular-menu-item menu-item-94352"
            >
              <a href="/news"
                ><span class="menu-title-text">News</span></a
              >
            </li>
            <li
              id="menu-item-94542"
              class="menu-item menu-item-type-post_type menu-item-object-page nectar-regular-menu-item menu-item-94542"
            >
              <a href="/home"
                ><span class="menu-title-text">FAQ</span></a
              >
            </li>
          </ul>
          <ul class="buttons sf-menu" data-user-set-ocm="off">
            <li
              class="menu-item menu-item-type-custom menu-item-object-custom nectar-regular-menu-item menu-item-btn-style-button_accent-color menu-item-hover-text-reveal-wave menu-item-94231"
            >
              <a href="/newsletter"
                ><span class="menu-title-text"
                  ><span class="char">J</span
                  ><span class="char">o</span
                  ><span class="char">i</span
                  ><span class="char">n</span>
                  <span class="char">O</span
                  ><span class="char">u</span
                  ><span class="char">r</span>
                  <span class="char">N</span
                  ><span class="char">e</span
                  ><span class="char">w</span
                  ><span class="char">s</span
                  ><span class="char">l</span
                  ><span class="char">e</span
                  ><span class="char">t</span
                  ><span class="char">t</span
                  ><span class="char">e</span
                  ><span class="char">r</span></span
                ></a
              >
            </li>
          </ul>
        </nav>
        <div class="logo-spacing" data-using-image="false">
          BitcoinMining.com
        </div>
      </div>
      <!--/span_9-->
    </div>
    <!--/row-->
  </div>
  <!--/container-->
</header>
</div>