.nav-open nav {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
  padding: 10px 0;

  a {
    display: block;
    padding: 30px 0;

    &.nav-install-button {
      display: none;
    }
  }

  @media #{$mid-point} {
    border: 0;
    padding: 0 20px;

    a {
      display: inline;
    }
  }
}

nav {
  text-transform: uppercase;
  font-size: 1.2em;
  width: 100%;
  text-shadow: none;
  padding: 0 20px;
  display: inline;

  @media #{$mid-point} {
    // Height of the install button.
    //Prevents other menus from jumping when install button appears.
    height: 45px; 
    display: flex; 
    justify-content: end;
    align-items: center; // Vertically center the elements
  }

  a {
    margin: 0px 10px;
    padding: 0px 10px;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    text-align: center;

    // Hide menu items on smaller screens. Leave only the toggle button.
    display: none;
    @media #{$mid-point} {
      display: inline;
    }

    &.nav-toggle {
      display: inline;
      position: absolute;
      right: 0px;
      font-size: 1.3em;
      border: 0;
      text-shadow: 0;
      padding: 10px 0;

      @media #{$mid-point} {
        // Hide menu items on smaller screens. Leave only the toggle button.
        display: none;
      }

      &:hover {
        border: 0;
      }
    }
  }

  a.nav-install-button {
    text-transform: capitalize;
    text-shadow: none;
    text-align: center;
    background-color: transparent;
    border-color: white !important;
    border-width: 2px !important;
    border-radius: 15px;
    border-style: solid;

    // Always show on smaller screens.
    font-size: 17px;
    padding: 10px;
    display: inline;
    @media #{$mid-point} {
      font-size: 17px;
      padding: 1.2em 40px;
      display: none;
    }

    &:hover {
      background-color: $brand-color;
      border-color: transparent !important;
      color: #fff;
      cursor: pointer;
    }

    &.header-background {
      background-color: $brand-color;
      color: #fff;
      cursor: pointer;

      @media #{$tablet} {
        display: inline;
      }
    }
  }
}
