footer {
    background: rgb(3, 3, 3);
    color:#fff;
    border-top: 3px solid $color_primary;
    padding-top: 6.5vw;
    padding-left: 4vw;
    padding-right: 4vw;

    .col-xs-12 > b{
        margin-block-end: 1em;
    }
    
    ul > li > a, a {
        color:#fff;
        line-height: 2;
    }
    ul > li > a:visited, a:visited {
        color:#fff;
    }
    .col-xs-12{
        padding: 1rem;
    }
    .foot-desc{
        padding-right: 2rem;
    }
}