.btn-primary{background: $color_primary; color: $color_primary_text; font-size: 1em; padding: 1em;}
.btn-primary-outline{color: $color_primary; background-color: transparent; border: 1px solid $color_primary; font-size: 1em; padding: 1em;}
.btn-secondary{background: $color_secondary; color: $color_secondary_text; font-size: 1em; padding: 1em;}
.btn-secondary-outline{color: $color_secondary; background-color: transparent; border: 1px solid $color_secondary; font-size: 1em; padding: 1em;}

.btn-primary-outline:hover{background-color: $color_primary; color: $color_primary_text; }
.btn-secondary-outline:hover{background-color: $color_secondary; color: $color_secondary_text;}

button, input[type=submit]{padding:0; border:0;border-radius: 0;}
button:hover, .btn:hover, a:hover, input[type=submit]:hover, .footer-nav li:hover{filter: brightness(90%); cursor:pointer;}
hr{background-color: #000; border: 0.5px solid #000;}
.hr-light{background-color: $color_border; border: 0.4px solid $color_border;}
input:read-only, select:disabled{background-color: #e8e8e8;}
.row{margin:0;}