---
layout: default
---
<div class="row page page-archive page-max-margin-lg">
  <div class="col-xs-12 col-md-8">
    <div class="col-xs-12">
      <h1 class="flashy-text">{{ page.title }}</h1>
      <hr class="hr-light">
    </div>
    {%- for post in paginator.posts -%}
    {%- assign category = site.data.categories[post.category] -%}
    {%- assign current_author = site.data.authors[post.author].name -%}
    <article class="row">
      <div class="col-xs-12 col-sm-8 v-center archive-article-infoblock" style="align-items: flex-start;">
        <a href="{{post.url}}">          
          <h2 class="archive-article-title"><a class="featured-title" href="{{ post.url }}">{{ post.title }}</a></h2>
          <h5 class="archive-article-subheading"> 
            {%- if post.categories.first -%}
                      {%- for post_categories in post.categories -%}                      
                      <span class="tag tag-small"><a href="/category/{{ post_categories }}">{{post_categories | upcase}}</a></span>
                      {%- if forloop.last == false -%}<span>,</span>{%- endif -%}
                      &nbsp;
                      {%- endfor -%}
                    {%- else -%}
                      <span class=""><a href="/category/{{ post.categories[0] }}">{{post.categories[0] | upcase }}</a></span>
                  {%- endif -%}
            <span>&middot;</span>    
            By <a href="/author/{{current_author | remove: " " | downcase }}/" class="cptlz">{{ site.data.authors[post.author].name }}</a> 
            <span>&middot;</span>    
            <span class="color-light">
              {{post.date | date: "%-d %B %Y"}}
            </span>
          </h5>
        </a>
      </div>
      <div class="col-xs-12 col-sm-4">
        <a href="{{post.url}}">
          <div class="img-thumbnail crop-height-thumbnail" style="background-image: url({{post.image}});">
            <img src="{{post.image}}" class="scale transparent" alt="Thumbnail | {{post.title}}">
          </div>
        </a>
      </div>
    </article>
    <hr class="hr-light"/>
    {%- endfor -%}
    {%- include pagination.html -%}
  </div>
  <div class="col-xs-12 col-md-4" style="padding-left: 3vw;">
    <!--  -->
  </div>
</div>