<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ " /assets/css/main.css" | relative_url }}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    {% include header.html %}
    <div class="mx-auto max-w-7xl px-4 sm:px-10 lg:px-20 xl:px-36">
        <div class="2xl:px-40 xl:px-40 px-2 mt-2">
            <div class="flex pb-6 max-md:pb-2 lg:max-w-160 mt-8">
                <div class="flex flex-wrap items-baseline pb-4 text-base"><a href="/en/"
                        class="pr-2 text-body-primary-color no-underline hover:text-body-secondary-color">All
                        Collections</a>
                    <div class="pr-2"><svg width="6" height="10" viewBox="0 0 6 10"
                            class="block h-2 w-2 fill-body-secondary-color rtl:rotate-180"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M0.648862 0.898862C0.316916 1.23081 0.316916 1.769 0.648862 2.10094L3.54782 4.9999L0.648862 7.89886C0.316916 8.23081 0.316917 8.769 0.648862 9.10094C0.980808 9.43289 1.519 9.43289 1.85094 9.10094L5.35094 5.60094C5.68289 5.269 5.68289 4.73081 5.35094 4.39886L1.85094 0.898862C1.519 0.566916 0.980807 0.566916 0.648862 0.898862Z">
                            </path>
                        </svg></div><a href="https://help.fylehq.com/en/collections/215835-fyle-for-spenders"
                        class="pr-2 text-body-primary-color no-underline hover:text-body-secondary-color"
                        data-testid="breadcrumb-0">Fyle for Spenders</a>
                    <div class="pr-2"><svg width="6" height="10" viewBox="0 0 6 10"
                            class="block h-2 w-2 fill-body-secondary-color rtl:rotate-180"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M0.648862 0.898862C0.316916 1.23081 0.316916 1.769 0.648862 2.10094L3.54782 4.9999L0.648862 7.89886C0.316916 8.23081 0.316917 8.769 0.648862 9.10094C0.980808 9.43289 1.519 9.43289 1.85094 9.10094L5.35094 5.60094C5.68289 5.269 5.68289 4.73081 5.35094 4.39886L1.85094 0.898862C1.519 0.566916 0.980807 0.566916 0.648862 0.898862Z">
                            </path>
                        </svg></div><a href="https://help.fylehq.com/en/collections/215861-getting-started-with-fyle"
                        class="pr-2 text-body-primary-color no-underline hover:text-body-secondary-color"
                        data-testid="breadcrumb-1">Getting Started with Fyle</a>
                    <div class="pr-2"><svg width="6" height="10" viewBox="0 0 6 10"
                            class="block h-2 w-2 fill-body-secondary-color rtl:rotate-180"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M0.648862 0.898862C0.316916 1.23081 0.316916 1.769 0.648862 2.10094L3.54782 4.9999L0.648862 7.89886C0.316916 8.23081 0.316917 8.769 0.648862 9.10094C0.980808 9.43289 1.519 9.43289 1.85094 9.10094L5.35094 5.60094C5.68289 5.269 5.68289 4.73081 5.35094 4.39886L1.85094 0.898862C1.519 0.566916 0.980807 0.566916 0.648862 0.898862Z">
                            </path>
                        </svg></div>
                    <div class="text-body-secondary-color">Spender's First Day with Fyle</div>
                </div>
            </div>
            <div class="mb-10 max-lg:mb-6">
                <div>
                    <div class="">
                        <header class="mb-1 font-primary text-3xl font-bold leading-10 text-body-primary-color">
                            Spender's First Day with Fyle</header>
                        <div class="text-md font-normal">
                            <p>Comprehensive guide to help you on your first day with Fyle</p>
                        </div>
                    </div>
                    <div class="avatar mt-4">
                        <div class="avatar__photo"><span
                                class="inline-flex items-center justify-center rounded-full bg-gray-900 font-bold leading-6 text-primary-text shadow-solid-2 shadow-body-bg [&amp;:nth-child(n+2)]:hidden lg:[&amp;:nth-child(n+2)]:inline-flex h-8 w-8 sm:h-9 sm:w-9"><span
                                    class="text-lg text-white leading-6">T</span></span></div>
                        <div class="avatar__info -mt-0.5 text-base"><span class="text-body-secondary-color">
                                <div>Written by <span>Tanvi Telang</span></div> <!-- -->Updated over a week ago
                            </span></div>
                    </div>
                </div>
            </div>
            <article>
                <div class="intercom-interblocks-heading mt-4">
                    <h1 class="text-2xl font-semibold">Who is a Spender?</h1>
                </div>
                <div class="intercom-interblocks-paragraph no-margin mt-4">
                    <p>A spender refers to an employee of the organization who will be creating and submitting
                        expenses/receipts for reimbursement or reconciliation on Fyle. As a spender, you can create
                        expenses and submit them for approval to your approver. </p>
                </div>
                <div class="intercom-interblocks-paragraph no-margin mt-4">
                    <p>Throughout this article, we will guide you through the process of setting up your Fyle account,
                        help you with the creation of expenses, and report the expenses to your manager. </p>
                </div>
                <div class="intercom-interblocks-heading mt-4">
                    <h1 class="text-2xl font-semibold">Verify Your Fyle Account</h1>
                </div>
                <div class="intercom-interblocks-paragraph no-margin mt-4">
                    <p>Before you can log in and start using Fyle, you will need to <a
                            href="https://help.fylehq.com/en/articles/2844823-verify-your-fyle-account">verify your
                            account</a>. Verification of your Fyle account is a mandatory step in order to log in with
                        Fyle. </p>
                </div>
                <div class="intercom-interblocks-paragraph no-margin mt-4">
                    <p>The Fyle administrator of your organization will send you an invitation link via your official
                        email ID. The email contains a link to <a
                            href="https://help.fylehq.com/en/articles/2844823-verify-your-fyle-account">verify your
                            account</a> and is valid for 24 hours. </p>
                </div>
                <div class="intercom-interblocks-heading mt-4">
                    <h1 class="text-2xl font-semibold">Log Into Fyle</h1>
                </div>
                <div class="intercom-interblocks-paragraph no-margin mt-4">
                    <p>Once you have verified your account, log into Fyle using your credentials. The first page you see
                        on your screen is called the Dashboard. You can <a
                            href="https://help.fylehq.com/en/articles/3749584-user-dashboard">perform various actions
                            from the Dashboard</a> itself. It gives you a one-glance view of your <a
                            href="https://help.fylehq.com/en/articles/1256133-create-general-expenses-on-the-web-app">expenses</a>,
                        <a
                            href="https://help.fylehq.com/en/articles/1378188-add-your-expenses-to-an-expense-report">reports</a>,
                        <a
                            href="https://help.fylehq.com/en/articles/5675659-link-your-corporate-card-to-your-fyle-account">cards</a>,
                        and tasks.
                    </p>
                </div>
                <div class="intercom-interblocks-image mt-4"><a
                        href="https://downloads.intercomcdn.com/i/o/739704720/3c8db73c5e86596d5d33d04d/Screenshot+2023-05-11+at+7.47.13+PM.png"
                        target="_blank" rel="noreferrer nofollow noopener"><img
                            src="https://downloads.intercomcdn.com/i/o/739704720/3c8db73c5e86596d5d33d04d/Screenshot+2023-05-11+at+7.47.13+PM.png"
                            width="1320" height="732"></a></div>
                <div class="intercom-interblocks-paragraph no-margin mt-4">
                    <p>You can download and log into Fyle app on your mobile to create your expenses on the go! </p>
                </div>
                <div class="intercom-interblocks-paragraph no-margin mt-4">
                    <p>The app is available to download via <a
                            href="https://apps.apple.com/in/app/fyle-expense-reports/id1137906166" target="_blank"
                            rel="nofollow noopener noreferrer">App Store</a> and <a
                            href="https://play.google.com/store/apps/details?id=com.ionicframework.fyle595781"
                            target="_blank" rel="nofollow noopener noreferrer">Play Store.</a></p>
                </div>
                <div class="intercom-interblocks-paragraph no-margin mt-4">
                    <p>Much like your web app, the first screen that you see once you log in via the mobile app is the
                        Dashboard. The <a
                            href="https://help.fylehq.com/en/articles/6564313-spender-dashboard-for-mobile-app">mobile
                            app dashboard</a> also allows you to carry out multiple actions. </p>
                </div>
                <div class="intercom-interblocks-heading mt-4">
                    <h1 class="text-2xl font-semibold">Settings</h1>
                </div>
                <div class="intercom-interblocks-paragraph no-margin mt-4">
                    <p>To navigate to your account settings you can click on the <b>gear icon</b> in the top right
                        corner of the screen. </p>
                </div>
                <div class="intercom-interblocks-image mt-4"><a
                        href="https://downloads.intercomcdn.com/i/o/739716873/1cd5bf8e42e8e72b4291ac3a/Screenshot+2023-05-11+at+7.58.56+PM.png"
                        target="_blank" rel="noreferrer nofollow noopener"><img
                            src="https://downloads.intercomcdn.com/i/o/739716873/1cd5bf8e42e8e72b4291ac3a/Screenshot+2023-05-11+at+7.58.56+PM.png"
                            width="1328" height="736"></a></div>
                <div class="intercom-interblocks-paragraph no-margin mt-4">
                    <p>In your account settings, you can see a few pages on the left-hand side panel for different types
                        of setting configurations. Before you start creating expenses and using Fyle, we recommend you
                        go through the various settings and set your preferences. </p>
                </div>
                <div class="intercom-interblocks-image mt-4"><a
                        href="https://downloads.intercomcdn.com/i/o/739719234/d005989d37c472828646cec2/Screenshot+2023-05-11+at+8.00.47+PM.png"
                        target="_blank" rel="noreferrer nofollow noopener"><img
                            src="https://downloads.intercomcdn.com/i/o/739719234/d005989d37c472828646cec2/Screenshot+2023-05-11+at+8.00.47+PM.png"
                            width="1332" height="740"></a></div>
                <div class="intercom-interblocks-subheading3 mt-4">
                    <h3 class="text-xl font-semibold">Profile settings</h3>
                </div>
                <div class="intercom-interblocks-unordered-nested-list">
                    <ul>
                        <li>
                            <div>
                                <p><b>Mobile Number</b>: <a
                                        href="https://help.fylehq.com/en/articles/6169223-verifying-your-mobile-number">Add
                                        and verify your mobile number</a> to your Fyle account to receive important
                                    notifications via text message. </p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p><b>Password</b>: <a
                                        href="https://help.fylehq.com/en/articles/1255990-change-your-fyle-password">Change/Update
                                        your Fyle password</a> at any time to keep your account secure. If you have <a
                                        href="https://help.fylehq.com/en/articles/1387314-reset-password">forgotten your
                                        password</a>, you can reset it to create a new password and log into Fyle. </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="intercom-interblocks-subheading3 mt-4">
                    <h3 class="text-xl font-semibold">Preferences Settings</h3>
                </div>
                <div class="intercom-interblocks-unordered-nested-list">
                    <ul>
                        <li>
                            <div>
                                <p><b>Features</b>: Enable/disable certain auto-features such as automatic data
                                    extraction for your Fyle account. You can use the toggle sliders to set your
                                    preference. </p>
                            </div>
                        </li>
                        <li>
                            <div class="">
                                <p><b>Fyle Mail</b>: This is a unique email ID for your Fyle account. You can <a
                                        href="https://help.fylehq.com/en/articles/2317008-forward-e-receipts-from-email-to-fyle">forward
                                        receipts from any email ID to your Fyle mail</a> and the expense will get
                                    auto-created for it in your account. </p>
                            </div>
                        </li>
                        <li>
                            <div class="">
                                <p><b>Secondary Inboxes</b>: If you receive work receipts on your personal email ID you
                                    can add it as a <a
                                        href="https://help.fylehq.com/en/articles/1801077-forward-e-receipts-from-secondary-personal-email-ids">secondary
                                        inbox to your Fyle account</a>. Once you forward any receipts from this account,
                                    Fyle will auto-create expenses for you. </p>
                            </div>
                        </li>
                        <li>
                            <div class="">
                                <p><b>Access Delegation</b>: <a
                                        href="https://help.fylehq.com/en/articles/3808267-access-delegation">Grant
                                        access to your account to a delegatee</a>, permanently or for a specific time
                                    period. The delegate will be able to manage your account on your behalf.</p>
                            </div>
                        </li>
                        <li>
                            <div class="">
                                <p><b>Timezone</b>: Select the timezone you operate in. </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="intercom-interblocks-subheading3 mt-4">
                    <h3 class="text-xl font-semibold">Notification Settings</h3>
                </div>
                <div class="intercom-interblocks-unordered-nested-list">
                    <ul>
                        <li>
                            <div>
                                <p><b>Expenses Notifications/ Expense Reports Notifications</b>: Select your preferences
                                    for receiving notifications about various events related to your expenses and
                                    reports.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p><b>Slack Notifications</b>: If your workspace operates on <a
                                        href="https://help.fylehq.com/en/articles/3470158-fyle-integration-with-slack">Slack,
                                        link it to your Fyle account</a> to receive notifications and <a
                                        href="https://help.fylehq.com/en/articles/6336689-create-expense-from-slack">create
                                        expenses from Slack</a>. </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="intercom-interblocks-subheading3 mt-4">
                    <h3 class="text-xl font-semibold">Manage Corporate Cards Settings </h3>
                </div>
                <div class="intercom-interblocks-unordered-nested-list">
                    <ul>
                        <li>
                            <div class="">
                                <p><b>Corporate Cards</b>: <a
                                        href="https://help.fylehq.com/en/articles/5675659-link-your-corporate-card-to-your-fyle-account">Add,
                                        view, and manage your corporate-issued credit cards</a> from this page. </p>
                            </div>
                        </li>
                        <li>
                            <div class="">
                                <p><b>Recurring Expenses</b>: If you have certain expenses that recur periodically, you
                                    can <a href="https://help.fylehq.com/en/articles/4153312-recurring-expenses">set up
                                        a recurrence </a>to save time in creating them the next time. </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="intercom-interblocks-heading mt-4">
                    <h1 class="text-2xl font-semibold">What Are Expenses and Reports?</h1>
                </div>
                <div class="intercom-interblocks-paragraph no-margin mt-4">
                    <p>Expenses are basically individual records of each spend that was made by the spender. Creating
                        expenses is the first step of the reimbursement/reconciliation cycle. Expenses can be created in
                        multiple ways which we will cover in the next section of the article. </p>
                </div>
                <div class="intercom-interblocks-paragraph no-margin mt-4">
                    <p>Expenses are of primarily three types:</p>
                </div>
                <div class="intercom-interblocks-unordered-nested-list">
                    <ul>
                        <li>
                            <div>
                                <p><b>General expenses</b>: expenses created by attaching receipts for general usage.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="">
                                <p><b>Mileage expenses</b>: expenses used to track trip details from point to point.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="">
                                <p><b>Per diem expenses</b>: expenses created based on the per diem issued by your
                                    organization. </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="intercom-interblocks-paragraph no-margin mt-4">
                    <p>Expense Reports or Reports are a collaboration of multiple expenses. They consist of multiple
                        expenses that are consolidated as a single report and submitted to your approver. You can choose
                        which expenses to include or exclude from a report. </p>
                </div>
                <div class="intercom-interblocks-heading mt-4">
                    <h1 class="text-2xl font-semibold">Create Expenses and Expense Reports</h1>
                </div>
                <div class="intercom-interblocks-paragraph no-margin mt-4">
                    <p>You can create expenses in multiple ways, these include:</p>
                </div>
                <div class="intercom-interblocks-unordered-nested-list">
                    <ul>
                        <li>
                            <div>
                                <p>Create <a
                                        href="https://help.fylehq.com/en/articles/1256133-create-general-expenses-on-the-web-app">general
                                        expenses</a> and <a
                                        href="https://help.fylehq.com/en/articles/6584562-add-mileage-expenses-via-mobile-app">mileage
                                        expenses</a> via the web app</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p>Create <a
                                        href="https://help.fylehq.com/en/articles/6660576-understanding-expenses-on-the-mobile-app">general
                                        expenses</a> and <a
                                        href="https://help.fylehq.com/en/articles/6584562-add-mileage-expenses-via-mobile-app">mileage
                                        expenses</a> via the mobile app</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p>Create per diem expenses via <a
                                        href="https://help.fylehq.com/en/articles/3998551-create-per-diem-expenses-via-the-web-app">web
                                        app</a> and <a
                                        href="https://help.fylehq.com/en/articles/6623095-create-per-diem-expenses-via-mobile-app">mobile
                                        app</a></p>
                            </div>
                        </li>
                        <li>
                            <div class="">
                                <p><a
                                        href="https://help.fylehq.com/en/articles/1256133-create-general-expenses-on-the-web-app">Create
                                        general expenses in bulk </a></p>
                            </div>
                        </li>
                        <li>
                            <div class="">
                                <p><a href="https://help.fylehq.com/en/articles/3701517-bulk-add-mileages">Create
                                        mileage expenses in bulk</a></p>
                            </div>
                        </li>
                        <li>
                            <div class="">
                                <p><a
                                        href="https://help.fylehq.com/en/articles/2743055-bulk-add-receipts-to-create-expenses">Bulk
                                        add receipts to auto-create expenses</a></p>
                            </div>
                        </li>
                        <li>
                            <div class="">
                                <p><a
                                        href="https://help.fylehq.com/en/articles/4208780-create-expenses-in-foreign-currency">Create
                                        expenses in a foreign currency</a></p>
                            </div>
                        </li>
                        <li>
                            <div class="">
                                <p><a
                                        href="https://help.fylehq.com/en/articles/1801077-forward-e-receipts-from-secondary-personal-email-ids">Forward
                                        receipts from your personal email ID to create expenses</a></p>
                            </div>
                        </li>
                        <li>
                            <div class="">
                                <p><a
                                        href="https://help.fylehq.com/en/articles/2317008-forward-e-receipts-from-email-to-fyle">Forward
                                        receipts to your Fyle Mail to create expenses </a></p>
                            </div>
                        </li>
                        <li>
                            <div class="">
                                <p><a
                                        href="https://help.fylehq.com/en/articles/2333336-apps-that-send-receipts-to-your-email-can-directly-be-linked-to-fyle">Create
                                        expenses via different app</a>s</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="intercom-interblocks-paragraph no-margin mt-4">
                    <p>Expense reports can be created quickly using the following methods:</p>
                </div>
                <div class="intercom-interblocks-unordered-nested-list">
                    <ul>
                        <li>
                            <div class="">
                                <p><a
                                        href="https://help.fylehq.com/en/articles/1378188-add-your-expenses-to-an-expense-report">Create
                                        and submit reports via the web app</a></p>
                            </div>
                        </li>
                        <li>
                            <div class="">
                                <p><a href="https://help.fylehq.com/en/articles/6664854-create-reports-via-mobile-app">Create
                                        and submit reports via the mobile app</a></p>
                            </div>
                        </li>
                        <li>
                            <div class="">
                                <p><a
                                        href="https://help.fylehq.com/en/articles/1247997-create-a-draft-expense-report-on-the-web-app">Create
                                        draft reports</a></p>
                            </div>
                        </li>
                        <li>
                            <div class="">
                                <p><a
                                        href="https://help.fylehq.com/en/articles/3749520-understanding-your-expense-report">Understanding
                                        your report</a></p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="intercom-interblocks-paragraph no-margin mt-4">
                    <p>You can always reach out via email to our <b>support team</b> for any queries you may have from
                        the support icon in the top right corner of your screen. The <b>Help Centre</b> is also
                        accessible to you and has multiple knowledge base articles to guide you through the product.</p>
                </div>
                <div class="intercom-interblocks-image mt-4"><a
                        href="https://downloads.intercomcdn.com/i/o/739791459/e9c3076937a0c0ab2e52e95e/Screenshot+2023-05-11+at+9.08.50+PM.png"
                        target="_blank" rel="noreferrer nofollow noopener"><img
                            src="https://downloads.intercomcdn.com/i/o/739791459/e9c3076937a0c0ab2e52e95e/Screenshot+2023-05-11+at+9.08.50+PM.png"
                            width="1262" height="700"></a></div>
                <div class="intercom-interblocks-paragraph no-margin mt-4">
                    <p>This covers a wide range of functionalities, settings, and operations that as a spender you can
                        go through and explore on your first day using Fyle. </p>
                </div>
                <div class="intercom-interblocks-paragraph no-margin mt-4">
                    <p>Happy Fyling!</p>
                </div>
            </article>
            <div
                class="bg-gray-100 text-center mt-6 rounded-lg py-6 sm:mt-8">
                <div class="text-lg mb-3">Did this answer your question?</div>
                <button class="text-3xl" aria-label="Disappointed Reaction" tabindex="0" data-reaction-text="disappointed" aria-pressed="false">
                    <span title="Disappointed">😞</span>
                </button>
                <button class="text-3xl" aria-label="Neutral Reaction" tabindex="0" data-reaction-text="neutral" aria-pressed="false"><span
                    title="Neutral">😐</span>
                </button>
                <button class="text-3xl" aria-label="Smiley Reaction"
                tabindex="0" data-reaction-text="smiley" aria-pressed="false"><span
                    title="Smiley">😃</span>
                </button>
            </div>
        </div>
    </div>
    
    {% include footer.html %}
</body>

</html>