<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- if page.layout == 'post' -%}
  <meta property="og:site_name" content="{{site.site_name}}">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://{{site.site_domain}}{{page.url}}">
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:description" content="{{page.content | strip_html | truncatewords: 50}}">
  <meta property="og:image" content="https://{{site.site_domain}}{{page.image}}">
  {%- endif -%}
  {%- if page.title == 'Home' -%}
  <meta property="og:site_name" content="{{site.site_name}}">
  <meta property="og:locale" content="en_US">
  <meta property="og:url" content="https://{{site.site_domain}}">
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:description" content="{{site.site_description}}">
  <meta property="og:image" content="/images/favicon.png?v={{site.time | date: '%s'}}">
  <meta name="google-site-verification" content="Q_9okZ1k28BL88HCbcFpzt6A2gLhT2zj24oO0xt68Kw" />
  {%- endif -%}
  {%- if page.layout != 'archive' -%}
  <title>{%- if page.title -%}{{page.title}} &middot; {%- endif -%} &nbsp;{{site.site_name}}</title>
  {%- else -%}
  <title>{{site.data.categories[page.pagination.category].name}} {%- if page.title -%} &middot; {{page.title}} {%- endif -%}
    &middot; {{site.site_name}}</title>
  {%- endif -%}
  {%- include_cached scripts_header.html -%}
  <link rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.1/flexboxgrid2.min.css">
  <link rel="icon" href="/images/favicon.png?v={{site.time | date: '%s'}}" type="image/png">
  <link rel="stylesheet" href="/css/main.css?v={{site.time | date: '%s'}}" type="text/css">
  {%- if page.layout == 'post' -%}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "mainEntityofPage": "https://{{site.site_domain}}{{page.url}}",
      "headline": "{{page.title}}",
      "description": "{{page.content | strip_html | truncatewords: 50}}",
      "articleSection": "{{page.categories[0]}}",
      "datePublished": "{{page.date | date_to_xmlschema }}",
      "dateModified": "{{page.date_modified | date_to_xmlschema }}",
      "isAccessibleForFree": true,
      "image": {
        "@type": "ImageObject",
        "url": "https://{{site.site_domain}}{{page.image}}"
      },
      "thumbnailUrl": "https://{{site.site_domain}}{{page.image}}",
      "author": {
        "@type": "Person",
        "name": "{{site.data.authors[page.author].name}}",
        "@id": "https://{{site.site_domain}}/author/{{site.data.authors[page.author].name | remove: " " | downcase }}/#about",
        "url": "https://{{site.site_domain}}/author/{{site.data.authors[page.author].name | remove: " " | downcase }}/#about",
        "sameAs": [
          "https://{{site.site_domain}}/author/{{site.data.authors[page.author].name | remove: " " | downcase }}/"
        ]
      },
      "publisher": {
        "@type": "Organization",
        "@id": "https://{{site.site_domain}}",
        "name": "Otaku101",
        "logo": {
          "@type": "ImageObject",
          "url": "https://{{site.site_domain}}/images/favicon.png"
        }
      },
      "keywords": "[{%- for keyword in page.keywords -%}'{{keyword}}',{%-endfor-%}]"
    }
  </script>
  {%- endif -%}
</head>

<body>
  <div class="row header">
    {%- include navigation.html -%}
  </div>

  {%- include header-hover.html -%}
  
  {%- if page.title contains "Home" -%}
    <main class="row page-home main page-max-margin-lg">
      {{content}}
    </main>
  {%- else -%}
    <main class="row main">
      <div class="col-xs-12">
        <div class="container-fluid">
          {{content}}
        </div>
      </div>
    </main>
  {%- endif -%}

  <footer class="row footer">
    {%- include footer.html -%}
  </footer>

  {%- include_cached scripts_footer.html -%}
</body>

</html>