---
layout: default
---

<div class="home">
  <div
    class="max-h-full py-12 bg-[url('/assets/background.png')] bg-no-repeat bg-cover h-[347px]"
  >
    <div class="text-center">
      <p
        class="header-text text-white "
      >
        BLOG
      </p>
    </div>
  </div>

  <div class="bg-black blog-section">
    <div class="w-[1110px] m-auto">
      <p class="text-2xl text-white font-bold">Blog posts</p>
      <div class="grid grid-cols-1 xl:grid-cols-3 lg:grid-cols-3 gap-8 mt-8">
        {% if page.all %} {% for post in site.posts %}
        <a
          href="{{ post.url | relative_url }}"
          class="blog-card rounded-lg text-white"
        >
          <p class="blog-content">{{ post.title | escape }}</p>
          <p class="text-gray-400 blog-time pt-3">
            {% assign date_format = site.minima.date_format | default: "%b %-d,
            %Y" %}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
          </p>
        </a>
        {% endfor %} {% else %} {% for post in site.posts linit:6 %}
        <a
          href="{{ post.url | relative_url }}"
          class="blog-card rounded-lg text-white"
        >
          <p class="blog-content">{{ post.title | escape }}</p>
          <p class="text-gray-400 blog-time pt-3">
            {% assign date_format = site.minima.date_format | default: "%b %-d,
            %Y" %}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
          </p>
        </a>
        {% endfor %} {% endif %}
      </div>
      <button class="all-posts-button text-white rounded-full mt-8">
        VIEW ALL POSTS
      </button>
    </div>
  </div>
</div>
