---
layout: default
format: post
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} </title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Neuton:wght@200;300;400;500;700&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Alegreya Sans' rel='stylesheet'>


</head>

<body>
    <div class="row t30">
        <div class="medium-8 columns{% if page.sidebar == NULL %} medium-offset-2 end{% endif %}{% if page.sidebar == "
            left" %} medium-push-4{% endif %}">
            <article itemscope itemtype="http://schema.org/Article">
                <header>
                    {% if page.image.title %}
                    <figure>
                        <img src="{{ site.urlimg }}{{ page.image.title }}" width="970"
                            alt="{{ page.title | escape_once }}" itemprop="image">

                        {% if page.image.caption_url and page.image.caption %}
                        <figcaption class="text-right">
                            <a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
                        </figcaption>
                        {% elsif page.image.caption %}
                        <figcaption class="text-right">
                            {{ page.image.caption }}
                        </figcaption>
                        {% endif %}
                    </figure>
                    {% endif %}

                    <div itemprop="name">
                          <h1>{{ page.title }}</h1>
                    </div>
                </header>
         {% if page.heading %}
            <p itemprop="description">
            <h1>{{ page.heading }}</h1>
            </p>
            {% endif %}
            <div class="container ">
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 ">
                    {% for project in page.projects %}
                    <div class="  border-dotted radius b30 ">

                          <div>

                              <a href="{{ project.link }}" target="_blank">
                                <img class="w-[97%] m-1 h-48 object-cover" src="{{ project.image }}"
                                    alt="{{ project.name }}">
                            </a>

                             <div class="mt-2 ">
                                <a href="{{ project.link }}" target="_blank"
                                    class="text-blue-600 text-lg font-semibold hover:underline ">
                                    {{ project.name }}
                                </a>
                                <p class="text-gray-600 mt-2  ">
                                    {{ project.description }}
                                </p>
                            </div>


                        </div>

                    </div>
                    {% endfor %}
                </div>
            </div>
            {% if page.command %}
            <p itemprop="description">
            <h1>{{ page.command }}</h1>
            </p>
            {% endif %}
            <div class="container">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 ">
                    {% for tool in site.tools %} 
                     <div class="border-dotted radius b30">
                        
                         <div class="mt-2 ">
                            <a href="{{tool.permalink }}" target="_blank"
                                class="text-blue-600 text-lg font-semibold hover:underline ">
                                {{ tool.title }}
                            </a>
                            <p class="text-gray-600 mt-2  ">
                                {{ tool.description }}
                            </p>
                        </div>
            
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% if page.old %}
            <p itemprop="description">
            <h1>{{ page.old }}</h1>
            </p>
            {% endif %}
            <div class="container">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 ">
                    {% for oldproject in site.oldprojects %}
                    <div class="border-dotted radius b30">
                        
                        <div class="mt-2">
                            <a href="{{ oldproject.permalink }}" target="_blank"
                                class="text-blue-600 text-lg font-semibold hover:underline ">
                                {{ oldproject.title }}
                            </a>
                            <p class="text-gray-600 mt-2 ">
                                {{ oldproject.description }}
                            </p>
                        </div>
            
                    </div>
                    {% endfor %}
                </div>
            </div>
  
                <div itemprop="articleSection">
                    {{ content }}
                </div>

                {% if page.show_meta == true %}
                {% include _meta_information.html %}
                {% endif %}

                {% if page.comments == true %}
                {% include _comments.html %}
                {% endif %}
            </article>
        </div><!-- /.medium-8.columns -->


        {% if page.sidebar == "left" %}
        <div class="medium-4 columns medium-pull-8">
            {% include _sidebar.html %}
        </div><!-- /.medium-4.columns -->
        {% endif %}


        {% if page.sidebar == "right" %}
        <div class="medium-4 columns">
            {% include _sidebar.html %}
        </div><!-- /.medium-4.columns -->
        {% endif %}

    </div><!-- /.row -->

</body>

</html>